@import url('https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,400;0,500;0,600;0,700;1,700&display=swap');

:root {
    --color-1: #5E454B;
    --color-2: #F3F0D7;
    --color-3: #D8B384;
  }

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

body {
    font-family: 'KoHo', sans-serif;
    color: #000;
    position: relative;
}

.mx1 {
    margin: 0 90px;
    /* border: 1px solid black; */
}

.py1 {
    padding-top: 90px;
    padding-bottom: 90px;
}


/* Navbar */
.navbar {
    background: linear-gradient(180deg, rgba(94, 69, 75, 0.8) 0%, rgba(94, 69, 75, 0.4) 84.37%, rgba(94, 69, 75, 0) 100%);
    color: #fff;
    width: 100%;
    height: 110px;
    position: fixed;
    transition: background-color 0.2s ease;
    z-index: 100;
}

.navbar:hover {
    background-color: var(--color-1);
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: inherit;
    align-items: center;
}

#logo {
    font-size: 48px;
    font-weight: 700;
    color: white;
    transform: translateY(-10%);
    white-space: nowrap;
}

nav {
    display: flex;
    height: inherit;
}

nav ul {
    display: flex;
}

nav li{
    list-style-type: none;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
    transition: background-color 0.2s ease;
}

nav li a{
    color: white;
    font-size: 26px;
    font-weight: 400;
}

nav li:hover{
    background-color: var(--color-3);
}

a{
    text-decoration: none;
}

/* Hero section */
#navbar-hero-wrapper {
    /* position: absolute; */
    background: linear-gradient(rgba(240, 233, 210, 0.5), rgba(240, 233, 210, 0.5)), url('../images/hero.JPG');
    background-position: 0 -250px;
    background-repeat: repeat;
    background-size: cover;
    width: 100%;
    /* height: auto; */
    /* height: 700px; */
    /* border: 1px dashed red; */
    z-index: -10;

}

#hero-section {  
    /* background-color: black; */
    top: 0;
    /* position: absolute; */
    width: 100%;
    height: 700px;
    z-index: -1;
}

.space {
    height: 1000px;
}

.container-hero {
    top: 110px;
    position: absolute;
    display: grid;
    grid-gap: 0;
    grid-template-columns: 3fr 2fr;
    /* grid-template-rows: 1fr 1fr; */
    /* border: 1px solid black; */
    z-index: 1;
}

.container-hero p {
    font-size: 26px;
    font-weight: 500;
    line-height: 50px;
    border: 1px dashed blue;
    margin-top: 100px;
    margin-right: 200px;
    grid-column: 1;
    grid-row: 1;
}

.container-hero h1 {
    border: 1px dashed red;
    text-align: right;
    font-size: 81px;
    font-style: italic;
    font-weight: 700;
    margin-left: 15px;
    color: white;
    z-index: 10;
    grid-column: 2;
    grid-row: 1 / span 2;
}

.container-hero button {
    background: rgba(94, 69, 75, 0.4);
    grid-column: 1;
    grid-row: 2;
}

.container-hero button:hover {
    background-color: var(--color-3);
}

.hero-btn-container {
    display: flex;
    margin-right: 200px;
    /* border: 1px solid red; */
    justify-content: center;
    height: 150px;
    align-items: flex-end;
}

.shadow-container {
    position: absolute;
    /* border: 2px solid blue; */
    top: 0;
    right: 0;
    height: inherit;
    min-width: 550px;
    background: linear-gradient(270deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.37) 82.81%, rgba(0, 0, 0, 0) 100%);
    margin: 0;
    z-index: 1;
}

/* Novedades - Galería */
#news {
    width: 100%;
    /* height: 800px; */
    background-color: var(--color-2);
    background-size: cover;
    background-repeat: repeat;
    border: none;
    z-index: 10;

}

.news-container {
    /* border: 1px dashed black; */
    display: grid;
    grid-template-columns: 5fr 6fr 5fr;
    grid-gap: 60px;
}

.news-container button:hover {
    background-color: var(--color-3);
}

.news-btn-container {
    display: flex;
    justify-content: flex-start;
}

.flex-col {
    display: flex;
    flex-direction: column;
    gap: 100px;
    /* justify-content: space-between; */
    /* border: 1px solid red; */
}

.imagen-central {
    background-image: url('../images/central.JPG');
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100px;
    /* margin-right: 50px;
    margin-left: 20px; */
}

/* Contacto */
.contacto {
    background-image: url('../images/contacto.JPG');
    background-size: cover;
    background-position: top left;
    background-repeat: no-repeat;
    /* position: relative; */
    /* height: 1000px;
    max-height: 100%; */
    /* width: 100%; */
}

.form-card {
    background: rgba(243, 240, 215, 0.7);
    border-radius: 110px;
    /* position: absolute; */
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 70px;
    padding: 60px 70px;
    margin-bottom: 200px;
}

.form-card form {
    display: flex;
    flex-direction: column;
}

.form-card form label {
    font-size: 26px;
    font-weight: 600;
}

.form-card form input {
    /* height: 50px; */
    padding: 14px;
    border: none;
    border-radius: 5px;
    font-size: 26px;
}

.form-card form textarea {
    min-height: 150px;
    max-height: 300px;
    max-width: 100%;
    padding: 14px;
    font-size: 26px;
    border: none;
    border-radius: 5px;
}

#submit {
    align-self: flex-start;
    margin-top: 50px;
    background-color: var(--color-1);
    border-radius: 10px;
    border: none;
    color: #fff;
    font-weight: 700;
    font-size: 22px;
    padding: 24px 54px;
    transition: background-color 0.2s ease;
}

#submit:hover{
    background-color: var(--color-2);
    cursor: pointer;
}

/* Discografía */
.discografia {
    background-color: var(--color-3);
    width: 100%;
}

.discografia-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 80px;
}

.discografia-container .titulo {
    grid-column: 1 / span 3;
    border-bottom: 7px solid var(--color-2);
    text-align: center;
}

.discografia-btn-container {
    grid-column: 1 / span 3;
    display: flex;
    justify-content: center;
}

.discografia-btn-container button:hover {
    background-color: var(--color-2);
}

.caratula {
    max-width: 100%;
}



/* GENERAL */
button {
    background-color: var(--color-1);
    border-radius: 10px;
    border: none;
    color: #fff;
    font-weight: 700;
    font-size: 22px;
    padding: 24px 54px;
    transition: background-color 0.2s ease;
}

button:hover{
    cursor: pointer;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.titulo {
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    /* position: relative; */
    padding-bottom: 6px;
    /* border-bottom: 5px solid var(--color-1); */
}

.texto {
    font-size: 26px;
    font-weight: 400;
    line-height: 50px;
}

/* Media queries */
@media (max-width: 1150px) {
    .mx1 {
        margin: 0 40px;
    }

    #navbar-hero-wrapper {
        background-position: 0 -200px;
    }

    .navbar {
        height: 80px;
    }

    .navbar li a {
        font-size: 20px;
    }

    #logo {
        font-size: 28px;
    }

    .form-card {
        gap: 50px;
    }
}

@media (max-width: 1030px) {
    #navbar-hero-wrapper {
        background-position: 0 -180px;
    }
    
    .container-hero {
        /* border: 4px solid black; */
        grid-template-columns: 2fr 1fr;
    }

    .container-hero h1 {
        margin-left: 20px;
        font-size: 66px;
        align-self: center;
        height: auto;
    }

    .container-hero p {
        font-size: 18px;
        width: 80%;
    }

    .shadow-container {
        min-width: 400px;
    }
    .titulo {
        font-size: 40px;
    }

    .texto {
        font-size: 18px;
    }

    .form-card {
        gap: 25px;
    }

    .form-card form label {
        border: 1px solid red;
        font-size: 18px;
    }

    .form-card form input,
    .form-card form textarea {
        font-size: 18px;
        padding: 6px 4px;
    }
}

@media (max-width: 870px) {
    #navbar-hero-wrapper {
        background-position: 0 -100px;
        border: 2px dashed green;
        max-height: auto;
        padding-bottom: 0;
    }

    #hero-section {
        height: 500px;
    }

    .shadow-container {
        min-width: 300px;
    }
    
    .container-hero {
        border: 1px solid black;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .container-hero h1 {
        margin-left: 10px;
        font-size: 44px;
    }

    .container-hero p {
        font-size: 14px;
        line-height: 30px;
    }

    button {
        font-size: 12px;
        padding: 20px 48px;
    }

    .hero-btn-container {
        border: 1px solid red;
        /* width: auto; */
        margin-right: 0;
        /* justify-items: flex-start; */
        align-items: center;
        justify-content: flex-start;
    }

    .titulo {
        font-size: 32px;
    }

    .texto {
        font-size: 14px;
    }
}

@media (max-width : 600px) {
    body {
        display: none;
    }
}