@import url('https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,400;0,500;0,600;0,700;1,700&display=swap');

:root {
    --color-1: #5E454B;
    --color-2: #F3F0D7;
    --color-3: #D8B384;
  }

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

body {
    font-family: 'KoHo', sans-serif;
    color: #000;
    position: relative;
}

.sombra {
    -webkit-box-shadow: 3px 4px 8px 5px rgba(0,0,0,0.29); 
    box-shadow: 3px 4px 8px 5px rgba(0,0,0,0.29);
}

.mx1 {
    margin: 0 90px;
    /* border: 1px solid black; */
}

.py1 {
    padding-top: 90px;
    padding-bottom: 90px;
}


#side-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transform: translateX(100%);
    background-color: var(--color-1);
    z-index: 100;
    display: flex;
    flex-direction: column;
    /* visibility: hidden; */
    transition: transform 0.4s ease;
}

#close {
    font-size: 50px;
    color: #fff;
    padding-top: 20px;
}

#close:hover {
    cursor: pointer;
}

.close-container {
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    /* border: 1px dashed blue; */
}

#side-menu a {
    padding: 20px 50px;
    color: #fff;
    font-weight: 500;
    font-size: 22px;
}

#side-menu a:hover {
    background-color: var(--color-2);
}


#manto {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.37);
}

.no-display {
    display: none;
}

.hidden {
    display: none;
    visibility: hidden;
}

.show {
    display: block;
    visibility: visible;
}

/* Navbar */
.navbar {
    background: linear-gradient(180deg, rgba(94, 69, 75, 0.8) 0%, rgba(94, 69, 75, 0.4) 84.37%, rgba(94, 69, 75, 0) 100%);
    color: #fff;
    width: 100%;
    height: 110px;
    position: fixed;
    transition: background-color 0.2s ease;
    z-index: 20;
}

.navbar:hover {
    background-color: var(--color-1);
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: inherit;
    align-items: center;
}

#logo {
    font-size: 48px;
    font-weight: 700;
    color: white;
    transform: translateY(-10%);
    white-space: nowrap;
}

nav {
    display: flex;
    height: inherit;
}

nav ul {
    display: flex;
}

nav li{
    list-style-type: none;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
    transition: background-color 0.2s ease;
}

nav li a{
    color: white;
    font-size: 26px;
    font-weight: 400;
}

nav li:hover{
    background-color: var(--color-3);
}

a{
    text-decoration: none;
}

#bars {
    font-size: 30px;
    display: none;
}

#bars:hover {
    cursor: pointer;
}


/* Hero section */
#navbar-hero-wrapper {
    /* position: absolute; */
    background: linear-gradient(rgba(240, 233, 210, 0.5), rgba(240, 233, 210, 0.5)), url('../images/hero.JPG');
    background-position: 0 -250px;
    background-repeat: repeat;
    background-size: cover;
    width: 100%;
    /* height: auto; */
    /* height: 700px; */
    /* border: 1px dashed red; */
    z-index: -10;

}

#hero-section {  
    /* background-color: black; */
    /* top: 110px; */
    /* position: absolute; */
    width: 100%;
    height: 700px;
    z-index: -1;
}

.container-hero {
    top: 110px;
    position: absolute;
    display: grid;
    grid-gap: 0;
    grid-template-columns: 3fr 2fr;
    /* grid-template-rows: 1fr 1fr; */
    /* border: 1px solid black; */
    z-index: 1;
}

.container-hero p {
    font-size: 26px;
    font-weight: 500;
    line-height: 50px;
    /* border: 1px dashed blue; */
    margin-top: 100px;
    margin-right: 200px;
    grid-column: 1;
    grid-row: 1;
}

.container-hero h1 {
    /* border: 1px dashed red; */
    text-align: right;
    font-size: 81px;
    font-style: italic;
    font-weight: 700;
    margin-left: 15px;
    color: white;
    z-index: 10;
    grid-column: 2;
    grid-row: 1 / span 2;
}

.container-hero button {
    background: rgba(94, 69, 75, 0.4);
    grid-column: 1;
    grid-row: 2;
}

.container-hero button:hover {
    background-color: var(--color-3);
}

.hero-btn-container {
    display: flex;
    margin-right: 200px;
    /* border: 1px solid red; */
    justify-content: center;
    height: 150px;
    align-items: flex-end;
}

.shadow-container {
    position: absolute;
    /* border: 2px solid blue; */
    top: 0;
    right: 0;
    height: inherit;
    min-width: 550px;
    background: linear-gradient(270deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.37) 82.81%, rgba(0, 0, 0, 0) 100%);
    margin: 0;
    z-index: 1;
}

/* Novedades - Galería */
#news {
    width: 100%;
    /* height: 800px; */
    position: relative;
    background-color: var(--color-2);
    background-size: cover;
    background-repeat: repeat;
    border: none;
    z-index: 10;

}

#bg-galeria {
    position: absolute;
    background-color: var(--color-3);
    width: 100%;
    bottom: 0;
    /* height: 380px; */
    height: 50%;
    z-index: -1;
    display: none;
}

.news-container {
    /* border: 1px dashed black; */
    display: grid;
    grid-template-columns: 5fr 6fr 5fr;
    grid-gap: 60px;
}

.news-container button:hover {
    background-color: var(--color-3);
}

.news-btn-container {
    display: flex;
    justify-content: flex-start;
}

.flex-col {
    display: flex;
    flex-direction: column;
    gap: 100px;
    /* justify-content: space-between; */
    /* border: 1px solid red; */
}

.imagen-central {
    background-image: url('../images/central.JPG');
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100px;
    /* margin-right: 50px;
    margin-left: 20px; */
}

/* Contacto */
.contacto {
    background-image: url('../images/contacto.JPG');
    background-size: cover;
    background-position: top left;
    background-repeat: no-repeat;
    /* position: relative; */
    /* height: 1000px;
    max-height: 100%; */
    /* width: 100%; */
}

.form-card {
    background: rgba(243, 240, 215, 0.7);
    border-radius: 110px;
    /* position: absolute; */
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 70px;
    padding: 60px 70px;
    margin-bottom: 200px;
}

.form-card form {
    display: flex;
    flex-direction: column;
}

.form-card form label {
    font-size: 26px;
    font-weight: 600;
}

.form-card form input {
    /* height: 50px; */
    padding: 14px;
    border: none;
    border-radius: 5px;
    font-size: 26px;
}

.form-card form textarea {
    min-height: 150px;
    max-height: 300px;
    max-width: 100%;
    padding: 14px;
    font-size: 26px;
    border: none;
    border-radius: 5px;
}

#submit {
    align-self: flex-start;
    margin-top: 50px;
    background-color: var(--color-1);
    border-radius: 10px;
    border: none;
    color: #fff;
    font-weight: 700;
    font-size: 22px;
    padding: 24px 54px;
    transition: background-color 0.2s ease;
}

#submit:hover{
    background-color: var(--color-2);
    cursor: pointer;
}

/* Discografía */
.discografia {
    background-color: var(--color-3);
    width: 100%;
}

.discografia-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 80px;
}

.discografia-container .titulo {
    grid-column: 1 / span 3;
    border-bottom: 7px solid var(--color-2);
    text-align: center;
}

.discografia-btn-container {
    grid-column: 1 / span 3;
    display: flex;
    justify-content: center;
}

.discografia-btn-container button:hover {
    background-color: var(--color-2);
}

.caratula {
    max-width: 100%;
}

.img-container {
    display: flex;
    justify-items: flex-end;
    align-items: flex-end;
    width: 100%;
    /* border: 1px solid black; */
}



/* GENERAL */
button {
    background-color: var(--color-1);
    border-radius: 10px;
    border: none;
    color: #fff;
    font-weight: 700;
    font-size: 22px;
    padding: 24px 54px;
    transition: background-color 0.2s ease;
}

button:hover{
    cursor: pointer;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.titulo {
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    /* position: relative; */
    padding-bottom: 6px;
    /* width: 25%; */
    /* border: 1px dashed red; */
    padding-right: 0;
    /* border-bottom: 5px solid var(--color-1); */
}

.title-container {
    display: flex;
    flex-direction: column;
    /* border: 1px solid yellow; */
    width:fit-content;
}

.underline {
    width: 48%;
    height: 5px;
    background-color: var(--color-1);
}

.texto {
    font-size: 26px;
    font-weight: 400;
    line-height: 50px;
}

/* Media queries */
@media (max-width: 1150px) {
    .mx1 {
        margin: 0 40px;
    }

    #navbar-hero-wrapper {
        background-position: 0 -200px;
    }

    .navbar {
        height: 80px;
    }

    .navbar li a {
        font-size: 20px;
    }

    #logo {
        font-size: 28px;
    }

    .form-card {
        gap: 50px;
    }
}

@media (max-width: 1030px) {
    #navbar-hero-wrapper {
        background-position: 0 -180px;
    }
    
    .container-hero {
        /* border: 4px solid black; */
        grid-template-columns: 2fr 1fr;
    }

    .container-hero h1 {
        margin-left: 20px;
        font-size: 66px;
        align-self: center;
        height: auto;
    }

    .container-hero p {
        font-size: 18px;
        width: 80%;
    }

    .shadow-container {
        min-width: 400px;
    }
    .titulo {
        font-size: 40px;
    }

    .texto {
        font-size: 18px;
    }

    .form-card {
        gap: 25px;
    }

    .form-card form label {
        /* border: 1px solid red; */
        font-size: 18px;
    }

    .form-card form input,
    .form-card form textarea {
        font-size: 18px;
        padding: 6px 4px;
    }
}

@media (max-width: 870px) {
    .mx1 {
        margin: 0 20px;
    }

    .py1 {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    #navbar-hero-wrapper {
        background-position: 0 -100px;
        /* border: 2px dashed green; */
        max-height: auto;
        padding-bottom: 0;
    }

    .navbar li {
        display: none;
    }

    #bars {
        display: block;
        visibility: visible;
    }

    #hero-section {
        height: 500px;
    }

    .shadow-container {
        min-width: 300px;
    }
    
    .container-hero {
        top: 40px;
        /* border: 1px solid black; */
        grid-template-columns: 1fr 1fr;
    }

    .container-hero h1 {
        margin-left: 0px;
        font-size: 44px;
    }

    .container-hero p {
        font-size: 16px;
        line-height: 30px;
        width: 90%;
    }

    button,
    #submit {
        font-size: 12px;
        padding: 20px 48px;
    }

    .hero-btn-container {
        /* border: 1px solid red; */
        /* width: auto; */
        margin-right: 0;
        /* justify-items: flex-start; */
        align-items: center;
        justify-content: flex-start;
    }

    .news-container {
        grid-gap: 20px;
    }
    
    .imagen-central {
        height: 550px;
    }

    .form-card {
        padding: 40px 40px;
        width: 70%;
    }

    .form-card {
        border-radius: 80px;
    }

    .form-card form {
        gap: 0px;
    }

    .form-card form label,
    .form-card form input,
    .form-card form textarea {
        font-size: 16px;
    }

    .form-card form label {
        margin-bottom: 0;
    }

    .form-card form textarea {
        min-height: 80px;
        max-height: 150px;
    }

    #submit {
        margin-top: 16px;
    }
    .titulo {
        font-size: 32px;
    }

    .texto {
        font-size: 16px;
        line-height: 30px;
    }
}

@media (max-width : 600px) {
    .container-hero {
        grid-template-columns: 1fr;
        /* border: 3px dashed blue; */
        grid-gap: 20px;
    }

    #navbar-hero-wrapper {
        background-position: 0 0;
    }
    
    .container-hero h1 {
        grid-column: 1;
        grid-row: 1;
        width: 85%;
        justify-self: center;
        margin-top: 40px;
        /* margin-bottom: 20px; */
        text-align: center;
        color: black;
    }

    .container-hero p {
        grid-column: 1;
        grid-row: 2;
        width: 100%;
        margin-top: 0;
        margin-bottom: 50px;
        text-align: center;
    }

    .hero-btn-container {
        grid-column: 1;
        grid-row: 3;
        justify-content: center;
        margin: 0;
        padding: 0;
        /* border: 1px solid yellow; */
        height: auto;
    }

    .hero-btn-container button {
        margin: 0;
        background-color: var(--color-1);
    }

    .shadow-container {
        min-width: 0;
    }

    .news-container {
        grid-template-columns: 1fr 1fr;
        grid-gap: 0;
    }

    .flex-col {
        gap: 60px;
    }

    .galeria-col {
        margin-top: 0px;
        grid-column: 1 / span 2;
        position: relative;
        /* border: 1px solid pink; */
    }

    .galeria-col .news-btn-container {
        justify-content: center;
    }

    .galeria-col .news-btn-container button:hover {
        background-color: var(--color-2);
    }

    /* .galeria-col::before {
        content: '';
        position: absolute;
        height: 100px;
        width: 100%;
        margin: 0;
        background-color: var(--color-3);
    } */

    #bg-galeria {
        display: block;
    }

    .imagen-central {
        height: 450px;
        border-radius: 75px;
    }

    .galeria-col .underline {
        background-color: var(--color-2);
    }
    .form-card {
        width: 100%;
    }

    .submit-container {
        display: flex;
        /* width: 100%; */
        justify-content: center;
    }

    .discografia-container {
        grid-template-columns: 1fr 1fr;
        /* border: 1px solid black; */
        grid-gap: 40px;
    }

    .discografia-container h1 {
        /* border: 1px solid white; */
        /* grid-column: 1 / span 2; */
        grid-row: 1;
    }

    .discografia-container img {
        /* border: 2px dashed red; */
        justify-content: center;
        text-align: center;
        justify-items: center;
    }

    .sombra {
        -webkit-box-shadow: 3px 4px 8px 2px rgba(0,0,0,0.25); 
        box-shadow: 3px 4px 8px 2px rgba(0,0,0,0.25);
    }

}