@import url('https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,400;0,500;0,600;0,700;1,700&display=swap');

:root {
    --color-1: #5E454B;
    --color-2: #F3F0D7;
    --color-3: #D8B384;
  }

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

body {
    font-family: 'KoHo', sans-serif;
    color: #000;
    position: relative;
}

.mx1 {
    margin: 0 90px;
    /* border: 1px solid black; */
}


/* Navbar */
.navbar {
    background: linear-gradient(180deg, rgba(94, 69, 75, 0.8) 0%, rgba(94, 69, 75, 0.4) 84.37%, rgba(94, 69, 75, 0) 100%);
    color: #fff;
    width: 100%;
    height: 110px;
    position: fixed;
    transition: background-color 0.2s ease;
    z-index: 1;
}

.navbar:hover {
    background-color: var(--color-1);
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: inherit;
    align-items: center;
}

#logo {
    font-size: 48px;
    font-weight: 700;
    color: white;
    transform: translateY(-10%);
    white-space: nowrap;
}

nav {
    display: flex;
    height: inherit;
}

nav ul {
    display: flex;
}

nav li{
    list-style-type: none;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
    transition: background-color 0.2s ease;
}

nav li a{
    color: white;
    font-size: 26px;
    font-weight: 400;
}

nav li:hover{
    background-color: var(--color-3);
}

a{
    text-decoration: none;
}

/* Hero section */
.hero-image {
    position: relative;
    background: linear-gradient(rgba(240, 233, 210, 0.5), rgba(240, 233, 210, 0.5)), url('../images/hero.JPG');
    background-position: 0 -250px;
    background-repeat: repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

#hero-section {  
    /* background-color: black; */
    top: 0;
    position: absolute;
    width: 100%;
    height: 700px;
    z-index: -1;
}

.space {
    height: 1000px;
}

.container-hero {
    top: 110px;
    position: absolute;
    display: grid;
    grid-gap: 0;
    grid-template-columns: 3fr 2fr;
    /* grid-template-rows: 1fr 1fr; */
    /* border: 1px solid black; */
    z-index: 1;
}

.container-hero p {
    font-size: 26px;
    font-weight: 500;
    line-height: 50px;
    /* border: 1px dashed blue; */
    margin-top: 100px;
    margin-right: 200px;
    grid-column: 1;
    grid-row: 1;
}

.container-hero h1 {
    /* border: 1px dashed red; */
    text-align: right;
    font-size: 81px;
    font-style: italic;
    font-weight: 700;
    margin-left: 15px;
    color: white;
    z-index: 10;
    grid-column: 2;
    grid-row: 1 / span 2;
}

.container-hero button {
    grid-column: 1;
    grid-row: 2;
    background: rgba(94, 69, 75, 0.4);
    border-radius: 10px;
    border: none;
    color: #fff;
    font-weight: 700;
    font-size: 22px;
    padding: 24px 54px;
    transition: background-color 0.2s ease;
}

.container-hero button:hover {
    background-color: var(--color-3);
}

.btn-container {
    display: flex;
    margin-right: 200px;
    justify-content: center;
    height: 150px;
    align-items: flex-end;
}

.shadow-container {
    position: absolute;
    /* border: 2px solid blue; */
    top: 0;
    right: 0;
    height: inherit;
    min-width: 550px;
    background: linear-gradient(270deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.37) 82.81%, rgba(0, 0, 0, 0) 100%);
    margin: 0;
    z-index: 1;
}

